{% extends 'layout.html' %}
{% block content %}
<a href="/newdisplay">New Static Display</a>

<form method="POST" enctype="multipart/form-data" action="settings">
	<fieldset class="align-center vertical-padding-40">
		<table>
			<tr>
				<th>Name</th>
				<th>IP Address</th>
				<th>Sync</th>
				<th>Alive?</th>
				<th>Remove</th>
			</tr>
			{% for display_name, display in displays.items() %}
				<tr>
					<td>{{display.name}}</td>
					<td>{{display.ip}}</td>
					<td class="sync" data-display="{{display_name}}">O</td>
					<td>
						{%if display in alive %}
							Yes
						{% else %}
							No
						{% endif %}
					</td>
					<td><input type="checkbox"></td>
				</tr>
			{% endfor %}
		</table><br>
		<input type="submit" value="Submit">
	</fieldset>
</form>
<div id="displaylist">
{% for display_name, display in displays.items() %}
	{% if display in alive %}
		<div class="tile alive">
	{% else %}
		<div class="tile dead">
	{% endif %}
	<img src="/static/images/{{display.current}}" alt="">

	<div class="tilelabel">
	<a href="/display/{{display_name}}">{{display_name}}</a><br>
	{{display.ip}}
	</div>
	</div><!-- End Image Tile -->
{% endfor %}
</div>
{% endblock %}