$def with (content)
<!DOCTYPE html>
<html>
<head>
	<title>Projectr</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/functions.js"></script>
</head>
<body>

<div id="page-wrap">
	<div id="header">
		<a href="/"><img id="logo" src="static/img/logo.png" alt=""></a>
		<div id="title">
			<h1>$content.pagetitle</h1>
		</div>
		
		<div id="menubutton" class="menubutton"><img src="static/img/menu.svg" alt=""></div>
	</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/upload">Upload</a></li>
			$if content.pagetitle == "Home":
				<li><a href="#slideshow" class="menubutton slideshow">Slideshow</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/shutdown">Shutdown</a></li>
		</ul>
	</nav>
	<div id="push-wrap">
		
		$:content

	</div><!-- End Push Wrap -->
</div><!-- End Page Wrap -->
</body>
</html>